<h1>
  <%= @user.username %>
</h1>

<h2>
  Own photos
</h2>

<% current_user.own_photos.each do |photo| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <%= image_tag photo.image %>
        <div class="card-body">
          <h5 class="card-title"><%= photo.owner.username %></h5>
          <p class="card-text"><%= photo.caption %></p>
          <ul class="list-group list-group-flush">
            <% photo.comments.each do |comment| %>
              <li class="list-group-item">
                <%= comment %>
              </li>
            <% end %>
          </ul>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
<% end %>