<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>
      <%= @user.username %>
    </h1>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="#">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liked Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Followers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Following</a>
      </li>
    </ul>
  </div>
</div>

<% current_user.own_photos.each do |photo| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <%= image_tag photo.image %>
        <div class="card-body">
          <h5 class="card-title"><%= photo.owner.username %></h5>
          <p class="card-text"><%= photo.caption %></p>
        </div>
          <ul class="list-group list-group-flush">
            <% photo.comments.each do |comment| %>
              <li class="list-group-item">
                <div class="media">
                  <img src="..." class="mr-3" alt="...">
                  <div class="media-body">
                    <h5 class="mt-0"><%= comment.author.username %></h5>
                    <p><%= comment.body %></p>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <div class="card-body">
          <%= render "comments/form", comment: Comment.new(photo_id: photo.id) %>
        </div>
      </div>
    </div>
  </div>
<% end %>