<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "Photogram", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/photos">Photos</a>
            <a class="dropdown-item" href="/comments">Comments</a>
            <a class="dropdown-item" href="/follow_requests">Follow requests</a>
            <a class="dropdown-item" href="/likes">Likes</a>
          </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit profile", edit_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>